/*
Theming samples for gooroom-greeter

Below are two samples of what a greeter theme in Gtk3 could look like. For the first one, we're only using the gooroom-greeter style-class. This is best if you just want to set a simple color-scheme.
For more fine-grain control, you can also use the named widgets. Those are being used in the second sample, because that gives you maximum control over the greeter.

*/

/*************************
 * 1. Minimalistic theme *
 *************************/

* {
  outline-color: transparent;
  font-family: Sans Regular;
  text-shadow: none;
  -gtk-icon-shadow: none; }

#panel_box {
  border: none;
  box-shadow: none;
  background-repeat: repeat-x;
  background-image: url("assets/panel-bg.png");
  background-color: transparent;
  min-height: 32px;
}

menubar,
.menubar {
  -GtkWidget-window-dragging: true;
  background-color: transparent;
  color: #ffffff;
  padding: 0px;
}

menuitem {
  padding: 0 3px 0 3px; }

#indicator_button {
  color: #ffffff;
  padding: 0;
  border-radius: 0;
  border: none;
  background-color: transparent; }
  #indicator_button:hover {
    border: none;
    background-color: rgba(255, 255, 255, 0.5); }
  #indicator_button:active, #indicator_button:checked {
    background-color: rgba(0, 255, 255, 0.6); }

#panel_separator {
  padding: 0 3px 0 3px;
  background-color: transparent;
  min-width: 1px;
  min-height: 1px; }

#panel_button {
  color: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-image: none;
  background-color: transparent; }
  #panel_button:hover {
    background: rgba(255, 255, 255, 0.4); }
  #panel_button:active, #panel_button:checked  {
    background: rgba(0, 255, 255, 0.6); }

#dialog {
  font-weight: normal;
  border-style: none;
  border-radius: 5px;
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}

#buttonbox_frame button {
  color: #ffffff;
  border: none;
  padding: 5px 8px;
  background-color: #373737;
  background-image: none;
  box-shadow: none; }
  #buttonbox_frame button:hover {
    background-color: #69d3ff; }
  #buttonbox_frame button:active, #buttonbox_frame button:checked {
    background-clip: border-box;
    background-color: #00b3fe; }

#login_window frame > border.flat {
  border: none;
  border-radius:8px 8px 10px 10px;
  background-color: #ffffff;
  background-image: none;
  box-shadow: none;}

#login_window #message_label {
  color: #ff0000;
}

#login_window #username_label {
  color: #000000;
  font-size: 150%;
}

#login_window #login_button {
  font-size: 120%;
  font-weight: 700;
  padding: 15px 8px;
  border: none;
  border-radius:0 0 8px 8px;
  color: #ffffff;
  box-shadow: none;
  background-image: none;
  background-color: #373737;}
  #login_window #login_button:hover {
    background-color: #69d3ff; }
  #login_window #login_button:active, #login_window #login_button:checked {
    background-color: #00b3fe; }

#login_window #login_entry {
  padding: 0 6px;
  color: #373737;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background-image: none;
  background-color: #ffffff;
  box-shadow: none; }
  #login_window #login_entry:focus,
  #login_window #login_entry:hover {
	border-color: #00b3fe; }
  #login_window #login_entry:selected, #login_window #login_entry:selected:focus {
    color: #ffffff;
    background-color: #00b4fe; }

#greeter_infobar {
  background-color: transparent;
  border-bottom-width: 0;
  font-weight: bold; }
  #greeter_infobar label {
    color: #ff0000; }
